* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.mp4 binary
*.keystore binary
*.jks binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
